<h1> Home Page </h1>
<%= line_chart({"2013-06-01 15:54:00 UTC"=>90, "2013-06-02 15:54:00 UTC"=>84, "2013-06-03 08:03:00 UTC"=>69, "2013-06-04 15:54:00 UTC"=>75, "2013-06-05 15:54:00 UTC"=>75}) %>
<%= line_chart(@weather) %>
<p><%= @weather%> </p>
